.vs
.vscode
Binaries
Build
Content/Characters
Content/AnimStarterPack
Content/Collections
Content/Developers
Content/LevelPrototyping
Content/Maps
Content/MilitaryWeapSilver
DerivedDataCache
Intermediate
Saved
Script
Plugins/MultiplayerSessions/Content
Plugins/MultiplayerSessions/Intermediate

